modules = ["nodejs-20", "web", "bash"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 5002
externalPort = 4200

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 21177
externalPort = 3002
